body{
  background-color:hsl(30, 54%, 90%);
}

.container{
  background-color:white;
  display:inline-block;
}

h1, h2{
  font-family:"Young Serif", serif;
  font-weight: 400;
}

h2{
  color:hsl(14, 45%, 36%);
}

p, li, td, h3{
  font-family:"Outfit", sans-serif;
}

p,li,td{
  color:hsl(30, 10%, 34%);
}

h3{
  color:hsl(332, 51%, 32%);
}

.image-class{
  width:650px;
  border-radius:10px;
}